/* Navigation bar */
nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  height: 50px;
}

.navbar-brand {
  font-weight: bold;
}

.main-nav-links {
  flex: 1; /* Grow to fill available space */
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  text-align: right;
  white-space: nowrap; /* Prevent wrapping of links */
}

/* Add media query for responsive behavior */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .navbar-brand,
  .main-nav-links,
  .nav-right {
    flex: none; /* Reset flex behavior for smaller screens */
    width: 100%; /* Full width for each section */
  }
  .main-nav-links {
    margin-top: 10px; /* Add spacing between sections */
  }
}
