/* Login and signup forms */

.account-form button {
  min-width: 4rem;
  width: fit-content;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}
#user-profile div {
  padding: 10px;
  border: 1px dotted rgba(255, 68, 0, 0.267);
  margin: 10px 0px;
}

#profile-fields span {
  color: orangered;
}

#profile-fields {
  font-size: small;
}

#user-profile-title {
  display: inline-block;
}

#edit-profile-btn {
  margin-left: 5px;
  border-radius: 10px;
  padding: 1px 10px;
  border: 1px dotted orangered;
}

#edit-profile-btn:hover {
  background-color: orangered;
  color: white;
}
